<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="wrapper">
    <form method="post" action="{% url 'login_admin' %}">
      {% csrf_token %}
        <h2>Login</h2>
        <div class="input-field">
          <input placeholder='Enter your username' type="text" class="email" id="email" name="username" value="">
          <label>Enter your username</label>
        </div>
        <div class="input-field">
            <input placeholder='Enter your password' type="password" id="password" name="password" value="">
            <label>Enter your password</label>
        </div>
        <div class="forget">
            
        </div>
        <button type="submit">Log In</button>
        

    </form>
        
        {% if error_message %}           
          <span>{{ error_message }}</span>
        {% endif %}
    
  </div>
</body>
</html>