{% extends 'main/admin_main.html' %}
{% load static %}

{% block content %}

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				
			</div>

			<ul class="box-info">
				<li>
                    <a href="{% url 'agent_list' %}">
                        <i class='bx bx-user-circle'></i>
                        <span class="text">
                            <h3>{{total_agents}}</h3>
                            <p>Total Agents</p>
                        </span>
                    </a>
				</li>
				<li>
                    <a href="{% url 'customer_list' %}">
                        <i class='bx bxs-group' ></i>
                        <span class="text">
                            <h3>{{total_customer}}</h3>
                            <p>Total Clients</p>
                        </span>
                    </a>
				</li>
				<li>
                    <a href="collection.html">
                        <i class='bx bxs-dollar-circle' ></i>
                        <span class="text">
                            <h3>(NGN){{total_amount_paid}}</h3>
                            <p>Total collections</p>
                        </span>
                    </a>
				</li>
			</ul>


			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Find the active <li> element and remove the active class
			var activeElement = document.querySelector(".side-menu.top .active");
			if (activeElement) {
				activeElement.classList.remove("active");
			}
		
			// Find the desired <li> element and add the active class
			var desiredElement = document.querySelector(".side-menu.top li:nth-child(1)");
			if (desiredElement) {
				desiredElement.classList.add("active");
			}
		});
	</script>
{% endblock %}