{% extends 'main/admin_main.html' %}
{% load static %}

{% block content %}
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Payment History</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a href="#">Home</a>
						</li>
                        <li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a href="#">Payment</a>
						</li>
                        <li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a href="#">form</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">history</a>
						</li>
					</ul>
				</div>
				<div class="btn-download">
					<button class="text" id="export-pdf">Download PDF</button>
					<button id="downloadexcel">Export as Excel</button>
				</div>
			</div>

			


			<div class="table-data" >
				<div class="order">
					<div class="head">
						<p><span><b>Client Name</b>: {{user.username}}</span></p>
						<p><span><b>Client ID</b>: {{user.customer_id }}</span></p>
						
					</div>
					<table id="table">
						<thead>
							<tr>
								<th>Amount Paid</th>
								<th>Payment Duration</th>
								<th>Description</th>
								<th>Payment Date</th>
								<th>Due Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{% if user_payments %}
								{% for payment in user_payments %}
									<tr>
									<td>{{ payment.amount_paid }}</td>
									<td>{{ payment.payment_duration }}</td>
									<td>{{ payment.description }}</td>
									<td>{{ payment.payment_date }}</td>
									<td>{{ payment.expiry_date }}</td>
									<td>
										{% if payment.expiry_date < now %}
											<p style='color:red;'>Expired</p>
										{% else %}
											<p style='color:green;'>Active</p>
										{% endif %}
									</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="6">No data available</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
					
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Find the active <li> element and remove the active class
			var activeElement = document.querySelector(".side-menu.top .active");
			if (activeElement) {
				activeElement.classList.remove("active");
			}
		
			// Find the desired <li> element and add the active class
			var desiredElement = document.querySelector(".side-menu.top li:nth-child(5)");
			if (desiredElement) {
				desiredElement.classList.add("active");
			}
		});
	</script>
{% endblock %}