{% extends 'main/admin_main.html' %}
{% load static %}

{% block content %}
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>DataSheet</h1>
					<ul class="breadcrumb">
						<li>
							<a href="index.html">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a href="index.html">Home</a>
						</li>
                        <li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a  href="admin_analytics.html">Analytics</a>
						</li>
                        <li><i class='bx bx-chevron-right' ></i></li>
						<li class="active">
							<a class="active" href="admin_analytics.html">Team</a>
						</li>
					</ul>
				</div>
				
					
					<div class="btn-download">
						<button class="text" id="export-pdf"> PDF</button>
						<button id="downloadexcel"> Excel</button>
					</div>
					
				
                
			</div>
            <ul class="box-info">
				<li>
                    <a href="{% url 'agent_list' %}">
                        <i class='bx bx-user-circle'></i>
                        <span class="text">
                            <h3>{{total_agents}}</h3>
                            <p>Total Agents</p>
                        </span>
                    </a>
				</li>
				<li>
                    <a href="{% url 'customer_list' %}">
                        <i class='bx bxs-group' ></i>
                        <span class="text">
                            <h3>{{total_customer}}</h3>
                            <p>Total Clients</p>
                        </span>
                    </a>
				</li>
				
			</ul>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Agents</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table id="table">
						<thead>
							<tr>
								<th>ID No.</th>
								<th>NAMES</th>
								<th>EMAIL</th>
								<th>PHONE NUMBER</th>
								<th>ACTION</th> 
							</tr>
						</thead>
						<tbody>
						{% for agent in agent_list %}
							<tr>
								<td style='font-size: 12px;'>{{ agent.agent_id }}</td>
								<td style='font-size: 12px;'>{{ agent.username }}</td>
								<td style='font-size: 12px;'>{{agent.email}}</td>
								<td style='font-size: 12px;'>{{agent.phone_number}}</td>
								<td>
									<a href="{% url 'agent_edit' pk=agent.pk %}">Edit</a> |
									
								</td>
							</tr>
							
						{% empty %}
							<tr>
								<td colspan="7">No data available</td>
							</tr>
						{% endfor %}
							
							
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Find the active <li> element and remove the active class
			var activeElement = document.querySelector(".side-menu.top .active");
			if (activeElement) {
				activeElement.classList.remove("active");
			}
		
			// Find the desired <li> element and add the active class
			var desiredElement = document.querySelector(".side-menu.top li:nth-child(4)");
			if (desiredElement) {
				desiredElement.classList.add("active");
			}
		});
	</script>
{% endblock %}