<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
	<link rel="stylesheet" href="{% static 'css/toast.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <!-- Include the jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    <!-- Include the js-xlsx library for Excel export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>

    <!-- Include the TableExport library -->
    <script src="https://cdn.jsdelivr.net/npm/tableexport@5.2.0/dist/js/tableexport.min.js"></script>
	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="index.html" class="brand">
			<img class='bx' src="{% static 'img/eagle-logo.jpg' %}" style="background-size: cover; position: relative; border-radius: 50%; padding-top: 10px;">
			
			<span class="text">AGENT</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="{% url 'payment_start' %}">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Payment</span>
				</a>
			</li>
			
			
		</ul>
		<ul class="side-menu">
			
            <li>
                <form id="logout-form" action="{% url 'agent_logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="display: none;"></button>
                </form>
                <a href="#" class="logout" id="logout-link">
                    <i class='bx bxs-log-out-circle' ></i>
                    <span class="text">Logout</span>
                </a>
            </li>
            <script>
                document.getElementById('logout-link').addEventListener('click', function(event) {
                    event.preventDefault();  // Prevent the default link behavior
                    document.getElementById('logout-form').submit();  // Submit the form
                });
            </script>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		{% block content %}



		{% endblock %}
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/active.js' %}"></script>
</body>
</html>